<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <title>Change password</title>
  <link rel="stylesheet" href="/css/changePass.css">
</head>
<body>
<div class="reset-password-container">
  <h2>Change password</h2>
  <form action="javascript:void(0);">

    <div class="input-group">
      <label for="newPassword">New password:</label>
      <input type="password" id="newPassword" name="newPassword" required>
      <div id="emailHelp" class="form-explain">the password must contain one uppercase letter, one lowercase letter, one number, one special symbol(!@#$%^&*) and be between 8 and 20 characters long.</div>
    </div>

    <div class="input-group">
      <label for="confirmPassword">Confirm password:</label>
      <input type="password" id="confirmPassword" name="confirmPassword" required>
    </div>  

    <button id="btn" type="submit">Change password</button>
    <p><a href="/main/">Cancel</a></p>

  </form>
  
  </div>
    <div id="staticBackdrop" class="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header modal-block">
            <div class="modal-title">Notification</div>
            <button id="closeModalBtn" class="btn-close">&times;</button>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer modal-block">
            <button id="closeModalFooterBtn" class="btn btn-secondary">Close</button>
          </div>
        </div>
      </div>
    </div>
<script src="/js/changePass.js"></script>
</body>
</html>