<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <title>Password recovery</title>
  <link rel="stylesheet" href="/css/forgotPass.css">
</head>
<body>
<div class="reset-password-container">
  <h2>Password recovery</h2>
  <p id="text">Please enter your email address to receive instructions on how to reset your password.</p>
  <form id="forgotForm">
    <input type="email" id="email" name="email" placeholder="Email" required>
    <button id="forgotBtn" type="submit">Send</button>
    <p><a href="/login">Log in</a></p>
  </form>
</div>

<div id="staticBackdrop" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal-block">
        <div class="modal-title">Notification</div>
        <button id="closeModalBtn" class="btn-close">&times;</button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer modal-block">
        <button id="closeModalFooterBtn" class="btn btn-secondary">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="/js/forgotPass.js"></script>
</body>
</html>